.logo {
  img {
    width: 3rem;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  span {
    font-size: 2rem;
    font-weight: 700;
  }
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: stretch;
    height: stretch;
    padding: 0 1rem;
    border-style: none;
    border-radius: 0.5rem;
    background-color: var(--bg-btn-off);
  }
  input:focus {
    outline: none;
    border: none;
    background-color: var(--bg-btn-on);
  }
}
.user-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .search{
    display: none;
  }
  .user-actions {
    display: none;
  }
}