.logo {
  img {
    width: 3rem;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  span {
    font-size: 2rem;
    font-weight: 700;
  }
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 35vw;
    //max-width:40vw;
    height: stretch;
    padding: 0 1rem;
    border-radius: 0.5rem;
    background-color: var(--bg-card);
    color: var(--color-text-on);
  }
  input:focus {
    background-color: var(--bg-btn-on);
  }
}
.user-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: none;
  padding: 0.25rem;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0.5rem;
  background-color: var(--bg-btn-off);
}

@media (max-width: 480px) {
  .search{
    display: none;
  }
  .user-actions {
    display: none;
  }

  .menu {
    display: block;
  }
}