<div class="logo">
  <img [src]="logoImage.src" [alt]="logoImage.alt">
  <span>ForoRata</span>
</div>
<div class="search">
  <input (input)="onSearchInput($event)" id="search-input" placeholder="Buscar un perfil" type="text">
</div>
<div class="user-actions">
  @defer (when res$ | async) {
    @let res = res$ | async;
  
    @if (res) {
      @if (!('isError' in res)) {
        <p>{{ res.message }}</p>
      } @else {
        @switch (res.status) {
          @case (500) { <p>loool (Error 500)</p> }
          @default { <p>(Error {{ res.status }})</p> }
        }
      }
    }
  } @loading {
      <p>olaa</p>
  }
</div>

<div class="menu"><i-lucide [img]="hamburguer" class="my-icon"></i-lucide></div>