.logo {
  img {
    width: 3rem;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  span {
    font-size: clamp(1.5rem, 2rem, 2.5rem);
    font-weight: 700;
  }
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}