<div class="logo">
  <img [src]="logoImage.src" [alt]="logoImage.alt" routerLink="" style="cursor: pointer;">
  <span routerLink="" style="cursor: pointer;">ForoRata</span>
</div>
<div class="search">
  <input (input)="onSearchInput($event)" id="search-input" placeholder="Buscar un perfil" type="text">
</div>

<div class="user-actions">
  @defer (when res$ | async) {
    @let res = res$ | async;
  
    @if (res) {
      @if (!('isError' in res)) {
        <p>{{ res.me }}</p>
      } @else {
        @switch (res.status) {
          @case (500) { <p>(Error 500)</p> }
          @case (401) { 
            @if (url === 'login') {
              <button routerLink="/register" class="button-pressed button-register" style="width: stretch;">Registrarse</button>
            } @else {
              <button routerLink="/login" class="button-pressed button-login" style="width: stretch;">Iniciar sesión</button>
            }
           }
          @default { <p>(Error {{ res.status }})</p> }
        }
      }
    }
  } @placeholder {
    <button routerLink="/login" class="button-pressed button-login" style="width: fit-content;">Iniciar sesión</button>
  }
</div>

<div class="menu"><i-lucide [img]="hamburguer" class="my-icon"></i-lucide></div>