@defer (when res$ | async) {
    @let res = res$ | async;
  
    @if (res) {
      @if (!('isError' in res)) {
        <app-side-profile [user]="res.me"></app-side-profile>
        <app-side-menu></app-side-menu>
      } @else {
        @switch (res.status) {
          @case (500) { <p>(Error 500)</p> }
          @case (401) { 
            <div class="side-no-auth">
              <p>Inicia sesión y accede a todas las funciones</p>
              <button routerLink="/login" class="button-pressed button-login" style="width: stretch;">Ingresar</button>
              <p>Si aún no tienes una puedes crearla ahora mismo</p>
              <button routerLink="/register" class="button-pressed button-register" style="width: stretch;">Registrarse</button>
            </div>
           }
          @default { <p>(Error {{ res.status }})</p> }
        }
      }
    }
  } @placeholder {
    <div class="side-no-auth">
      <p>Ingresa con tu cuenta y accede a todas las funciones</p>
      <button routerLink="/login" class="button-pressed button-login" style="width: stretch;">Iniciar sesión</button>
      <p>Si aún no tienes una puedes crearla ahora mismo</p>
      <button routerLink="/register" class="button-pressed button-register" style="width: stretch;">Registrarse</button>
    </div>
  }