p {
  text-align: center;
  font-size: var(--font-regular);
}

.side-no-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  width: stretch;
  height: fit-content;
  background-color: var(--bg-card);
  border-radius: 0.5rem;
}
