p {
  text-align: center;
  font-size: var(--font-regular);
}

.side-no-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  width: stretch;
  max-width: 80%;
  height: fit-content;
  background-color: var(--bg-card);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
}

@media (max-width: 1400px) {
  .side-no-auth {
    max-width: none;
  }
}