@defer (when res$ | async) {
  @let res = res$ | async;

  @if (res) {
      @if (!('isError' in res)) {
        @for (post of res; track $index) {
          <app-post [post]="post">  </app-post>
        }
      } @else {
        @switch (res.status) {
          @case (500) { <p>(Error 500)</p> }
          @case (404) { 
            <p>No hay posts</p>
          }
          @case (401) {
            <p>(Error {{ res.status }})</p>
          }
          @default { <p>(Error {{ res.status }})</p> }
        }
      }
    }
  } @placeholder {
    <div style="width: var(--center-size);"><p style="text-align: center;">Cargando...</p></div>
  }
