p {
  font-size: var(--font-biggest);
  text-align: center;
  padding: 0 0 1rem 0;
}

input {
  height: stretch;
  width: stretch;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--bg-btn-off);
  color: var(--color-text-on);
  font-size: 1rem;
}
input:focus {
  background-color: var(--bg-btn-on);
}

button {
  margin: 1rem 0 0 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--bg-card);
  max-width: 80%;
  border-style: solid;
  border-width: 0.25rem;
  border-color: var(--accent-pink);
  font-weight: 700;
  color: var(--color-text-on);
}
button:hover {
  background-color: var(--accent-pink);
  color: #FFFFFF;
}
button:active {
  outline: none;
  background-color: var(--accent-pink);
  color: #FFFFFF;
}