p {
  font-size: var(--font-biggest);
  text-align: center;
  padding: 0 0 1rem 0;
}

input {
  height: stretch;
  width: stretch;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--bg-btn-off);
  color: var(--color-text-on);
  font-size: 1rem;
}
input:focus {
  background-color: var(--bg-btn-on);
}

button {
  margin: 1rem 0 0 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--accent-pink);
  width: stretch;
  max-width: 75%;
  font-size: var(--font-tiny);
  font-weight: 700;
  color: var(--color-text-on);
}