.header {
  background-color: var(--bg-body);
  box-shadow: 0 4px 8px rgb(0 0 0 / 25%);;
  position: absolute;
  width: 100vw;
  padding: 1rem 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 2fr 1fr;
  z-index: 999;
}

@media (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}