main {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 2rem;
  padding: 6rem 2rem 1rem 2rem;
}

.main-sides-off {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6rem 2rem 0 2rem;
}

@media (max-width: 1250px) {
  main {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 6rem 1rem 1rem 1rem;
  }
}