.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgb(from var(--bg-body) r g b / 0.5);
  backdrop-filter: blur(10px);
  z-index: 999;
  box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
  padding: 1rem 2rem;
  display: grid;  
  gap: 2rem;
  grid-template-columns: 1fr auto 1fr;
}

.searching {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 100dvh;
  left: 0;
  right: 0;
  z-index: 900;
  background: rgb(from var(--bg-body) r g b / 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  padding: 6rem 0 1rem 0;
  flex-direction: row;
  justify-content: center;
  overflow-y: auto;
}
.searching::-webkit-scrollbar {
  display: none;
}

main {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 2rem;
  padding: 6rem 2rem 1rem 2rem;
  .side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  main {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 6rem 2rem 1rem 2rem;
    .side-menu {
        display: none;
      } 
  }
}