.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgb(from var(--bg-body) r g b / 0.5);
  backdrop-filter: blur(10px);
  z-index: 1;
  box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
  padding: 1rem 2rem;
  display: grid;  
  gap: 2rem;
  grid-template-columns: 1fr auto 1fr;
}

.searching {
  width: stretch;
  min-height: 100dvh;
  left: 0;
  right: 0;
  display: flex;
  padding: 6rem 0 1rem 0;
  flex-direction: row;
  justify-content: center;
  z-index: -1;
  background: rgb(from var(--bg-body) r g b / 0.5);
  backdrop-filter: blur(10px);
}

@media (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}