.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .post-user {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    .post-avatar {
      width: 3rem;
      height: 3rem;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
      }
    }

    .post-user-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      a {
        font-weight: 500;
        text-decoration: none;
        color: inherit;
      }

      .post-date {
        font-size: var(--font-tiny);
        color: var(--color-text-off);
      }
    }
  }

  .follow-btn {
    background-color: var(--bg-btn-off);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    &:hover {
      border: none;
      outline: none;
      background-color: var(--bg-btn-on);
    }
    &:active {
      border: none;
      outline: none;
      background-color: var(--bg-btn-on);
    }
  }
}

.post-content {
  font-weight: 300;
  margin: 0.5rem 0 1rem 0;
  color: var(--color-text-on);
}

@media (prefers-color-scheme: light) {
  .post-content {
    color: #212122;
  }
}

.post-actions {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;

  .post-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    max-height: 1.1rem;

    .post-number {
      font-size: var(--font-tiny);
      color: var(--color-text-off);
    }
    svg.heart:hover {
      stroke: var(--accent-pink);
      fill: var(--accent-pink);
    }
    svg.comment:hover {
      stroke: var(--accent-blue);
    }
    svg.heart:active {
      stroke: var(--accent-pink);
      fill: var(--accent-pink);
    }
    svg.comment:active {
      stroke: var(--accent-blue);
    }
  }
  .post-action:hover {
    span {
      color: var(--color-text-on);
    }
  }
  .post-action:active {
    span {
      color: var(--color-text-on);
    }
  }
}
