@defer (when res$ | async) {
  @let res = res$ | async;
  @if (res) {
    @if (!('isError' in res)) {
      <div class="profile-image-wrapper">
        <img
          [routerLink]="['/profile', res.id_user]"
          [src]="res.profile_picture"
          class="profile-image"
        >
      </div>
      <a
        [routerLink]="['/profile', res.id_user]"
        class="profile-username"
      >
        {{ res.id_user }}
      </a>
      <button (click)="cleanModal()" id="post-btn" class="post-btn button-pressed">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide my-icon"><path d="M16 5H3" key="m91uny"></path><path d="M11 12H3" key="51ecnj"></path><path d="M16 19H3" key="zzsher"></path><path d="M18 9v6" key="1twb98"></path><path d="M21 12h-6" key="bt1uis"></path></svg>
        Post
      </button>
    }
  }
} @placeholder {
  <!--
    <div class="placeholder-image"></div>
    <a class="placeholder-username">Username</a>
  -->
}
