@defer (when res$ | async) {
  @let res = res$ | async;
  @if (res) {
    @if (!('isError' in res)) {
      <div class="profile-image-wrapper">
        <img
          [routerLink]="['/profile', res.id_user]"
          [src]="res.profile_picture"
          class="profile-image"
        >
      </div>
      <a
        [routerLink]="['/profile', res.id_user]"
        class="profile-username"
      >
        {{ res.id_user }}
      </a>
    }
  }
} @placeholder {
  <div class="placeholder-image"></div>
  <a class="placeholder-username">Username</a>
}
