.profile-image-wrapper {
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.profile-username {
  display: inline-block;
  text-align: center;
}

.placeholder-image {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--bg-button--off);
}

.placeholder-username {
  display: inline-block;
  text-align: center;
}
