@defer (when res$ | async) {
  @let res = res$ | async;

  @if (res) {
      @if (!('isError' in res)) {

        <div class="profile-card">
          <div class="header">
            <div class="user-data">
              <div class="user-image-wrapper">
                <img
                  [routerLink]="['/profile', res.id_user]"
                  [src]="res.profile_picture"
                  class="user-image"
                >
              </div>
  
              <a
                [routerLink]="['/profile', res.id_user]"
                class="user-username"
              >
                {{ res.id_user }}
              </a>
  
            </div>
  
            <button class="follow-btn button-pressed">
              <svg data-v-15b35c9e="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-icon customizable lucide-user-plus-icon lucide-user-plus lucide-icon customizable"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><line x1="19" x2="19" y1="8" y2="14"></line><line x1="22" x2="16" y1="11" y2="11"></line></svg>
              Seguir
            </button>
          </div>
          <div class="actions">
            <a>Posts</a>
            <span>{{ res.followers }} Seguidores</span>
            <span>{{ res.following }} Siguiendo</span>
          </div>
          </div>
      } @else {
        @switch (res.status) {
          @case (500) { <p>(Error 500)</p> }
          @case (404) { 
            <p>No existe el usuario</p>
          }
          @case (401) {
            <p>(Error {{ res.status }})</p>
          }
          @default { <p>(Error {{ res.status }})</p> }
        }
      }
    }
  } @placeholder {
    <div style="width: var(--center-size);"><p style="text-align: center;">Cargando...</p></div>
  }
