.profile-card {
  width: stretch;
  background-color: var(--bg-card);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgb(0 0 0 / 25%);

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .user-data {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      .user-image-wrapper {
        width: 3rem;
        height: 3rem;
        .user-image {
          width: 100%;
          height: 100%;
          object-fit: contain;
          cursor: pointer;
        }
      }
      .user-username {
        display: inline-block;
        font-size: var(--font-big);
        cursor: pointer;
      }
    }
    .follow-btn {
        background-color: var(--bg-btn-off);
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 0.5rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        &:hover {
          border: none;
          outline: none;
          background-color: var(--bg-btn-on);
        }
        &:active {
          border: none;
          outline: none;
          background-color: var(--bg-btn-on);
        }
      }
  }
  .actions {
    width: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    color: var(--accent-blue);
    font-size: var(--font-tiny);
    span {
      font-size: var(--font-tiny);
      color: var(--color-text-off);
    }
  }
}
.posts-container {
  width: stretch;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}