/* You can add global styles to this file, and also import other style files */
:root {
  --accent-blue: #73A7DD;
  --accent-pink: #D868A0;
  --bg-body: #1B1B1F;
  --bg-card: #202127;
  --bg-btn-off: #32363F;
  --bg-btn-on: #4F5564;
  --color-text-on: #FFFFFF;
  --color-text-off: #AAAAAA;
  --center-size: 35vw;
  --font-biggest: 1.75rem;
  --font-big: 1.5rem;
  --font-regular: 1.25rem;
  --font-tiny: 1.1rem
}

svg.my-icon {
  width: stretch;
  height: stretch;
  stroke-width: 1.25;
}

* {
  font-family: 'Cascadia Mono', monospace;
  box-sizing: border-box;
  font-size: var(--font-regular);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-body);
  color: var(--color-text-on);
}

html {
  font-size: clamp(14px, 2vw, 18px);
  scrollbar-gutter: stable;
}

.app-root{
  display: block;
  height: 100dvh;
}

img, video {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button, input {
  font: inherit;
  border-style: none;
}
button {
  cursor: pointer;
  outline: none;
}

.button-pressed {
  box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
}

.button-pressed:hover {
  transform: scale(1.05);
}
.button-pressed:active {
  transform: scale(0.95);
}

input:focus {
  outline: none;
  border: none;
}

app-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgb(from var(--bg-body) r g b / 0.5);
  backdrop-filter: blur(10px);
  z-index: 999;
  box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
  padding: 1rem 2rem;
  display: grid;  
  gap: 2rem;
  grid-template-columns: 1fr auto 1fr;
}

app-searching {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 100dvh;
  left: 0;
  right: 0;
  z-index: 900;
  background: rgb(from var(--bg-body) r g b / 0.5);
  backdrop-filter: blur(10px);
  display: none;
  padding: 6rem 0 1rem 0;
  flex-direction: row;
  justify-content: center;
  overflow-y: auto;
}
app-searching::-webkit-scrollbar {
  display: none;
}

app-side-actions {
  position: sticky; // COntener los posts con scroll propio sino
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: stretch;
  align-items: center;
  height: fit-content;
  max-height: calc(100dvh - 8rem);
}

app-side-profile {
  background-color: var(--bg-card);
  border-radius: 0.5rem; 
  box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
  padding: 2rem;
  width: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
app-side-menu {
  background-color: var(--bg-card);
  border-radius: 0.5rem; 
  box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
  padding: 2rem;
  width: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

app-home-posts {
  width: var(--center-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
} 


app-login {
  margin: auto 0 auto 0;
  background-color: var(--bg-card);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem; 
  border-radius: 0.5rem; 
  box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
}
.button-login {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--accent-pink);
  width: stretch;
  max-width: 75%;
  font-size: var(--font-tiny);
  font-weight: 500;
  color: var(--color-text-on);
}
.button-register {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--accent-blue);
  width: stretch;
  max-width: 75%;
  font-size: var(--font-tiny);
  font-weight: 500;
  color: var(--color-text-on);
}

app-register {
  margin: auto 0 auto 0;
  background-color: var(--bg-card);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem; 
  border-radius: 0.5rem; 
  box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
}

app-post {
  padding: 1rem;
  width: stretch;
  height: fit-content;
  background-color: var(--bg-card);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-blue: #96BDE5;
    --accent-pink: #E28EB8;
    --bg-body: #EEEEEE;
    --bg-card: #fbfbfb;
    --bg-btn-off: #D8E2ED;
    --bg-btn-on: #B9CBDF;
    --color-text-on: #222222;
    --color-text-off: #666666;
  }
}

@media (max-width: 1250px) {
  :root {
    --center-size: 60%;
  }
  app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  app-side-actions {
    display: none;
  }
}

@media (max-width: 900px) {
  :root {
    --center-size: stretch
  }
  app-login {
    width: stretch;
  }
  app-register {
    width: stretch;
  }
}