/* You can add global styles to this file, and also import other style files */
:root {
  --accent-blue: #73A7DD;
  --accent-pink: #D868A0;
  --bg-body: #1B1B1F;
  --bg-card: #202127;
  --bg-btn-off: #32363F;
  --bg-btn-on: #4F5564;
  --color-text-on: #FFFFFF;
  --color-text-off: #AAAAAA;
  --center-size: 35vw;
}

svg.my-icon {
  width: stretch;
  height: stretch;
  stroke-width: 1.5;
}

* {
  font-family: 'Cascadia Mono', monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-body);
  color: var(--color-text-on);
}

html {
  font-size: clamp(14px, 2vw, 18px);
  scrollbar-gutter: stable;
}

.app-root{
  display: block;
  height: 100dvh;
}

img, video {
  max-width: 100%;
  height: auto;
}

button, input {
  font: inherit;
}

app-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgb(from var(--bg-body) r g b / 0.5);
  backdrop-filter: blur(10px);
  z-index: 999;
  box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
  padding: 1rem 2rem;
  display: grid;  
  gap: 2rem;
  grid-template-columns: 1fr auto 1fr;
}

app-searching {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 100dvh;
  left: 0;
  right: 0;
  z-index: 900;
  background: rgb(from var(--bg-body) r g b / 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  padding: 6rem 0 1rem 0;
  flex-direction: row;
  justify-content: center;
  overflow-y: auto;
}
app-searching::-webkit-scrollbar {
  display: none;
}

app-side-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-card);
  max-height: calc(100dvh - 8rem);
  border-radius: 0.5rem;
}

app-home-posts {
  width: var(--center-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
} 


app-login {
  margin: auto 0 auto 0;
  max-width: stretch;
  background-color: var(--bg-card);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-blue: #96BDE5;
    --accent-pink: #E28EB8;
    --bg-body: #EEEEEE;
    --bg-card: #D8E2ED;
    --bg-btn-off: #F2F2F2;
    --bg-btn-on: #D9D9D9;
    --color-text-on: #000000;
    --color-text-off: #666666;
  }
}

@media (max-width: 480px) {
  :root {
    --center-size: 100%;
  }
  app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  app-side-menu {
    display: none;
  }
}